{% extends "layout/default.html.twig" %}

{% block title %}Modify category{% endblock %}

{% block header %}
	<!-- Page Header-->
	<header class="masthead" style="background-image: url('{{asset('assets/img/contact-bg.jpg')}}')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>Modifier une catégorie</h1>
						<span class="subheading"></span>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}

{% block content %}
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-md-10 col-lg-8 col-xl-7">
				<h1>Modifier la catégorie</h1>

				<form class="d-flex flex-column" action="/category/edit/{{category.id}}" method='POST'>
					<label for="">Modifier le nom de la catégorie</label>
					<input type="text" name="nom" value="{{category.name}}">
					<button class="btn btn-lg btn-primary" type="submit" name="submit">SEND</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
